* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1F2937;
    /*border: 2px solid red; */
}

.body {
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    height: 80px;
}

.structure_header {
    background-color: #1F2937;
    display: flex;
    flex-grow: 1;
    color: #F9FAF8;
    align-items: flex-start;
    margin-top: 4px;
}

.item_header_left {
    font-size: 24px;
    justify-content: left;
    margin-left: 164px;
}

.item_header_right {
    justify-content: right;
    gap: 12px;
    margin-right: 164px;
}

.link_style {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
}

.top {
    display: flex;
    font-size: 48px;
    background-color: #1F2937;
    margin: 124px;
    margin-top: 82px;
    width: auto;
    height: 500px;
    margin-left: 164px;
    margin-right: 164px;
}

.topr {
    display: flex;
    color: #E5E7EB;
    font-size: 42px;
    flex-grow: 1;
    flex: 1 1 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.topr_inner {
    margin: 0px;
}

.topl {
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-size: 18px;
    flex-grow: 1;
    flex: 1 1 0px;
    text-align: center;
    line-height: 150px;
}
.small {
    font-size: 18px;
}

.button {
    background-color: #3882F6;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    color: #F9FAF8;
}

.image {
    width: 600px;
    height: 300px;
}

.divinfoblock {
    display: flex;
    height: 100px;
    width: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.infoblock {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    background-color: white;
    font-weight: bolder;
}

.thirds {
    display: flex;
    flex-direction: column;
    background-color: white
}

/*.sizing {
    align-items: center;
    flex-grow: 1; I do not understand why I do not need this but okay.. I was going to have this on the child third divs.
} */

.sect1 {
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 50px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: white;
}

.miniboxes {
    flex-grow: 1;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: white;
}

.borderimg {
    border-radius: 25px;
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
    background-color: white;
} 

.miniimgtxt {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.sect2 {
    background-color: #E5E7EB;
    padding: 80px;
    padding-left: 380px;
    padding-right: 380px;
}
.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    background-color: #E5E7EB;
    font-style: italic;
}

.bywho {
    text-align: right;
    background-color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}

.sect3 {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 6px;
    margin: 80px;
    margin-left: 230px;
    margin-right: 230px;
}

.sect3text {
    display: flex;
    flex-grow: 1.5;
    background-color: #3882F6;
    flex-direction: column;
    border-radius: 6px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 0px;
}

.text {
    color: #E5E7EB;
    font-size: 22px;
    background-color: #3882F6;
    text-align: left;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 0px;
}

.textv2 {
    margin-top: 22px;
    padding-bottom: 0px;
    font-weight: bold;
    margin-bottom: 0px;
}

.sect3button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #3882F6;
    margin-right: 50px;
}

.ctaButton {
    background-color: #3882F6;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    color: #F9FAF8;
    border: 2px solid #E5E7EB;
}


.footer {
    background-color: #1F2937;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 90px;
}

.footeritem {
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1F2937;
}


