* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1F2937;
    /*border: 2px solid red; */
}

.header {
    background-color: #1F2937;
    display: flex;
    height: 80px;
}

.item_header_left {
    background-color: #1F2937;
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: left;
    align-items: flex-start;
    margin-left: 124px;
    margin-top: 4px;
}

.item_header_right {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    margin-right: 124px;
    margin-top: 4px;
}

.link_style {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
}

.top {
    display: flex;
    font-size: 48px;
    background-color: #1F2937;
    margin: 124px;
    margin-top: 82px;
    width: auto;
    height: 500px;
}

.topr {
    display: flex;
    color: #E5E7EB;
    font-size: 42px;
    flex-grow: 1;
    flex: 1 1 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.topr_inner {
    margin: 0px;
}

.topl {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #E5E7EB;
    font-size: 18px;
    flex-grow: 1;
    flex: 1 1 0px;
}
.small {
    font-size: 18px;
}

.button {
    background-color: #3882F6;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    color: #F9FAF8;
}

.image {
    width: 600px;
    height: 300px;
}

.divinfoblock {
    display: flex;
    height: 100px;
    width: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 150px; */
}

.infoblock {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    background-color: white;
    font-weight: bolder;
}

.thirds {
    display: flex;
    flex-direction: column;
    background-color: white
}

.sect1 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding: 80px;
    padding-left: 250px;
    padding-right: 250px;
}

.miniboxes {
    flex-grow: 1;
   /* padding: 80px;
    padding-left: 250px;
    padding-right: 250px; */
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.borderimg {
    border-radius: 25px;
    border: 2px solid #73AD21;
    /*padding: 20px; */ 
    width: 150px;
    height: 150px;
} 

.miniimgtxt {
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
}

.sect2 {
    /*display: flex; */
    align-items: center;
    flex-grow: 1;
    background-color: #E5E7EB;
    padding: 80px;
    padding-left: 240px;
    padding-right: 240px;
}
.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    background-color: #E5E7EB;
    font-style: italic;
}

.bywho {
    text-align: right;
    background-color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}

.sect3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #3882F6;
    margin: 50px;
    border-radius: 10px;
}

.sect3text {
    display: flex;
    flex-grow: 1.5;
    background-color: #3882F6;
    flex-direction: column;
    gap: 2px;
}

.text {
    color: #E5E7EB;
    font-size: 22px;
    background-color: #3882F6;
    text-align: right;
}

.sect3button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #3882F6;
}

.ctaButton {
    background-color: #3882F6;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    color: #F9FAF8;
    border: 2px solid #E5E7EB;
}


.footer {
    background-color: #1F2937;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
}

.footeritem {
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1F2937;
}


